button {
    border-radius: 10px;
    width: 350px;
    height: 120px;
    font-size: 50px;
    display: inline-block;
    margin: 50px 20px;
}

.long-button {
    width: 300px;
    height: 50px;
    font-size: 20px;
    margin: 0px;
    background-color: #073763ff;
    color: white;
}

.medium-button {
    width: 120px;
    height: 50px;
    font-size: 20px;
    margin: 0px;
    background-color: #073763ff;
    color: white;
}

.small-button {
    width: 100px;
    height: 38px;
    font-size: 16px;
    margin: 0px;
    background-color: #073763ff;
    color: white;
}