body {
	font-family: "Helvetica","helvetica",sans-serif;
	text-align: right;
    margin: 0px;
    padding-bottom: 0px;
    font-size: 30px;
}
form {
        display: inline-block;
        margin: 100px 80px 50px 80px;
        font-size: 30px;
        text-align: center;
        
}

h {
	color: white;
	font-size: 80px;
}
h2 {
	color: black;
	text-align: center;
	font-size: 45px;
}
label {
    text-align:right;
    font-size: 30px;
}
p2{
    padding-right: 80px;
    margin-top: 0px;
}