div.table1 {
    max-height: 200px;
    overflow-y: scroll;
    margin-top: 15px;
    position: absolute;
    right: 50%;
    margin-left: 30px;
    margin-right: 200px;
}

div.table2 {
    max-height: 200px;
    overflow-y: scroll;
    margin-top: 200px;
    position: absolute;
    right: 50%;
    margin-left: 30px;
    margin-right: 200px;
}

body {
	font-family: "Helvetica","helvetica",sans-serif;
	text-align: center;
}

form {
    display: inline;
    float: left;
    font-size: 30px;
    font-weight: bold;
	
}

input[type=text] {
    border= 4px;
	background: #e6e6e6;
    margin-left: 10vw;
    width: 40%;
    height: 40px;
    font-size: 25px;
    border-radius: 10px;
    padding-left: 15px;
    white-space: normal;
    overflow-y:inherit;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    position: initial;
}

input[type=date] {
	background: #e6e6e6;
	border-radius: 10px;
	width: 200px;
    height: 30px;
	padding: 5px 5px;
    font-size: 25px;
    right: 50%;
    margin-right: 135px;
    margin-top: 25px;
}

input[type=submit] {
    width: 12.5vw;
    height: 60px;
    font-size: 32px;
    border-radius: 5px;
    white-space: normal;
    overflow-y:inherit;
}

form[type=button] {
    width: 50vw;
    height: 50px;
    font-size: 25px;
    border-radius: 5px;
    white-space: normal;
    overflow-y:inherit;
}

form[id=OthersForm] {
    width: 50vw;
    height: 50px;
    font-size: 25px;
    border-radius: 5px;
    white-space: normal;
    overflow-y:inherit;
}

input[type=checkbox] {
    transform: scale(2);
}

h2 {
	color: black;
	text-align: center;
	font-size: 45px;
}

div.twocolumns {
    column-count: 2;
        column-gap: 15px;
    height: 100px;
}

label {
    text-align: left;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    font-size: 2em;
    position: initial;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
}

caption {
    display: table-caption;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

input[type=image] {
    position: absolute;
    right: 50%;
    margin-top: 14px;
    margin-right: 100px;
}

textarea {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fafafa;
    position: absolute;
    left: 50%;
    margin-left: 100px;
    text-align: left;
    font-size: 20px;
    font-family: "Helvetica","helvetica",sans-serif;
    padding: 10px 5px 5px 15px;
}

.left {
    flex: 0 0 65%;
}

.right {
    flex: 1;
}

.notes {
    border-radius: 15px;
}

.page-title {
    font-size: 4em;
    text-align: left;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
}

button {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background: #073763ff;
    padding: 15px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    border: 1px solid white;
    margin-bottom: 10px;
}

button:hover {
    letter-spacing: 1px; /* optional */
    background: #fff;
    color: #073763ff;
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    border: 1px solid #073763ff;
}

button:focus {
    outline: 0;
}