div.rectangle {
	width: 100vw;
	height: 100px;
/*	background-image: linear-gradient(to bottom right, #073763ff, #FF4500);*/
    background-color: #073763ff;
    color: white;
	font-size: 80px;
}
body {
	font-family: "Helvetica","helvetica",sans-serif;
    margin: 0px;
    padding: 0px;
}
form {
/*        display: inline-block;*/
        font-size: 30px;
        font-weight: bold;
    margin-left: 200px;
    margin-right: auto;
	
}
input[type=text] {
	border= 4px solid #000080;
	background: #e6e6e6;
	border-radius: 10px;
	width: 400px;
    height: 30px;
	padding: 5px 5px;
    font-size: 25px;
    position: absolute;
    left: 50%;
   /* margin-right: 150px;*/
    margin-left: 60px;
}	
input[type=submit] {
    width: 200px;
    height: 75px;
    font-size: 45px;
    border-radius: 5px;
    margin-left: 650px;
    margin-right: auto;
}
input[type=checkbox] {
    transform: scale(3.5);
    margin-left: 70px;
    margin-top: 15px;
    position: absolute;
    left: 50%;
}
h {
	color: white;
	font-size: 80px;
    text-align: center;
}
h2 {
	color: black;
	text-align: center;
	font-size: 45px;
}
/*div.twocolumns {
    column-count: 2;
        column-gap: 30px;
    height: 80px;
}*/
label {
    text-align: left;
    font-size: 40px;
    margin-left: 275px;
    margin-right: 100px;
}
input[type=date] {
	border= 4px solid #000080;
	background: #e6e6e6;
	border-radius: 10px;
	width: 400px;
    height: 30px;
	padding: 5px 5px;
    font-size: 25px;
    position: absolute;
    left: 50%;
   /* margin-right: 150px;*/
    margin-left: 60px;
}

.full-height {
    height: calc(100vh - 100px);
}

#search_bar {
    transform: translate(-50%, 0%);
    margin: 70px 0px 0px 0px;
}

.search {
    transform: translate(-50%, 0%);
    position: absolute;
    left: 50%;
    margin: 0px;
}

.flex-container {
    display: flex;
    /* align-content: flex-start; */
    flex-direction: column;
    height: 100%;
    /* align-items: stretch; */
}

.search-container {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    /* align-content: center; */
    /* justify-content: space-around; */
}

#search-by-name-container {
    height: 80%;
}

#search-by-id-container {
    height: 20%;
}

table {

}

thead {

}

th {
    color: #fa4251;
    font-size: 18px;
    /* font-family: Lato-Bold; */
}

tbody {
    
}

tr {

}

td {

}